* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 31, 59);
}

header {
  background-color: rgb(17, 21, 38);
  padding: 33px;
  text-align: center;
  color: rgb(192, 90, 130);
}

form {
  background-color: white;
  border-radius: 6px;
  padding: 33px;
  width: 666px;
  margin: 33px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  margin: 33px;
}

ul li {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: rgb(243, 241, 243);
  position: relative;
  margin: 6px;
}

ul li input {
  width: inherit;
  height: inherit;
  border: none;
  opacity: 1;
}

ul li input:checked {
  opacity: 0;
}

li.active {
  background-color: rgb(192, 90, 130);
}

label {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 0px;
  width: inherit;
  height: inherit;
  text-align: center;
}

.sendinput {
  width: 400px;
  height: 33px;
  outline: none;
  font-size: 1.1em;
  padding: 11px;
}

.sendbutton {
  background-color: rgb(199, 198, 199);
  padding: 9px 33px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.info {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 666px;
  margin: auto;
  font-weight: bold;
}

.single {
  background-color: white;
  width: 666px;
  padding: 33px;
  border-radius: 6px;
  margin: 11px auto;
  position: relative;
  word-wrap: break-word;
}

.num {
  position: absolute;
  left: -11px;
  top: -9px;
  background-color: rgb(249, 96, 141);
  color: white;
  width: 33px;
  height: 33px;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
}

.close {
  position: absolute;
  top: 9px;
  right: 11px;
}

.edit {
  position: absolute;
  top: 9px;
  right: 33px;
}

.single button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  body {
    background-color: red;
    overflow-x: hidden;
  }
  .single {
    width: 400px;
  }
  form {
    width: 500px;
    overflow-wrap: break-word;
  }
  ul {
    margin: 0;
  }
  .info {
    justify-content: left;
  }
  .info p {
    margin: 11px;
  }
  .sendinput {
    width: 300px;
  }
}

